.timer {
  display: none;
  position: absolute;
  top: 19vw;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 7.5vw;
  font-weight: bold;

  &::after {
    content: '';
    position: absolute;
    font-size: 3vw;
    width: 12.5vw;
    height: 12.5vw;
    background: white;
    border-radius: 50%;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}