@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables.scss";
@import "./components/header/header.scss", "./components/gameField/gameField.scss", "./components/chat/chat.scss", "./components/timer/times.scss";

.container-and-border {
  height: 100vh;
  width: 100vw;
  background: $borderColor;
  border: none;

  & > .playersBoard {
    flex: 1;

    & > .firstUserSide, .secondUserSide{
       background: $mainBgColor;
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: 2rem;
    }
  }
}



