$mainBgColor: #171717;
$mainTextColor: #FFFFFF;

$accentColor: #EF9919;

$borderColor: #404040;
$fieldBorderColor: #575757;

$mainChatBgColorAndGameFieldBgColor: #313131;
$chatSecondColor: #222222;
$chatCurrentUserBgAndResetButtonAndWinTextColor: #00AE1C;
$chatUserBg: #737373;

$loseColor: #FF5620;

$playerIconColor: #454545;